<section class="page-header">
  <img
    class="img-circle"
    style="float: left; margin: 0px 0px 0px 125px"
    width="20%"
    src="./assets/carina_headshot.jpg"
  />
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="/" class="btn">About</a>
  <a href="/experience/" class="btn">Experience</a>
  <a href="/extracurriculars/" class="btn">Extracurriculars</a>
  <a href="/service/" class="btn">Service</a>
  <a href="/interests/" class="btn">Interests</a>
</section>
